@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

[data-aos^=fade][data-aos^=fade] {
  opacity: 1 !important;
}

.collapse {
  visibility: inherit !important;
}

.pointer {
  cursor: pointer;
}

.btnn {
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 50px !important;
  background-color: transparent !important;
}

.w30 {

  width: 30% !important;
}

.mainBtnn {
  background-color: #ffba5a !important;
  border-color: #ffba5a !important;
}

.mainClr {
  color: #ffba5a !important;
}

.b50 {
  border-radius: 50px;
}

.mainBtnn:hover {
  background-color: #f69712 !important;
  border-color: #f69712 !important;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .img-absolute {
    right: -60px;
  }
}

.error{ 
  color: red;
}

.center {
  display: flex;
  justify-content: center;
}